body {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    font-family: 'Catamaran', sans-serif
}

header {
    box-sizing: border-box;
    top: 0;
    z-index: 200;
    width: 100%;
    background: #000;
    padding: 8px;
    line-height: 1;
    max-width: 600px;
    text-align: center
}

header h1 {
    color: red;
    margin: 0;
    font-size: 40px
}

.menu-open {
    margin: 0 -20px;
    background: #f9f9f9;
    padding: 10px 30px
}

.menu-open ul {
    list-style: none;
    padding: 0
}

.menu-open a {
    text-decoration: none;
    color: #000;
    line-height: 2;
    font-weight: bold
}

.topimg {
    text-align: center
}

.topimg img {
    width: 100%;
    margin-top: 0;
    border-radius: 0
}

.land {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    background: #bfd255;
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfd255', endColorstr='#9ecb2d', GradientType=0);
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    text-transform: uppercase
}

.topimg a {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center
}

.topimg a img {
    width: 100%
}

video {
    width: 100%;
    background: #000
}

main {
    margin: 0 16px
}

h1 {
    margin: 8px 0;
    font-size: 23px;
    text-align: center;
    font-weight: 800
}

h1 span {
    color: red
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    color: red;
    text-transform: uppercase;
    line-height: 33px
}

.golova h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 32px
}

.post-date {
    font-size: 14px;
    color: #006d04;
    font-style: italic;
    line-height: 1;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: center
}

h2 span {
    font-weight: 300
}

.golova ul {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center
}

.story p strong {
    font-weight: 800
}

.story p strong span {
    color: #fd0101
}

.story p.vstuplenie {
    font-size: 15px
}

.kvota img {
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 36%;
    top: -40px;
    border: 5px solid #fff
}

.kvota {
    background: #ffefef;
    margin-top: 50px;
    margin-bottom: 0;
    position: relative;
    padding: 52px 15px 25px 15px
}

.kvota p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 600;
    text-align: center !important;
    color: #ec1010
}

.kto h3 {
    margin: 0 !important;
    color: #000;
    padding: 20px 0 !important;
    text-align: center;
    font-weight: 800 !important;
    font-style: normal !important;
    font-size: 26px
}

.kto ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 0 10px 0 !important
}

.kto ul li {
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box
}

.kto img {
    border-radius: 50%;
    border: 5px solid #fff !important;
    max-width: 100px
}

.kto li a span {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: block
}

.kto li a {
    text-decoration: none
}

.kto {
    background: #f1f1f1;
    padding-bottom: 10px
}

.kvota span {
    display: block;
    margin: 10px;
    text-align: center;
    font-size: 15px
}

.kvota span strong {
    display: block
}

.story a img {
    display: block;
    width: 100%
}

.ere {
    color: #0048f4 !important;
    text-decoration: underline
}

.golova ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 3px
}

.golova ul li a {
    text-decoration: none;
    color: #000
}

.img-responsive {
    width: 100%
}

.story p b {
    font-weight: 600
}

.story h3 {
    font-weight: 500;
    font-style: italic;
    margin: 12px 0;
    padding: 0 10px
}

.story a {
    font-weight: 600;
    color: #f10d14
}

.toland {
    border: 3px dashed #000;
    text-align: center;
    background: #ff0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    position: relative;
    z-index: 20;
    margin: 5px;
    margin-bottom: 20px
}

.toland:after {
    position: absolute;
    content: " ";
    display: block;
    background: url("urn:scrapbook:download:error:https://productsss.com/landers/it/prelanding/sizeplus_v19/images/scissors.svg");
    background-size: 77px;
    width: 75px;
    height: 45px;
    top: -24px;
    left: 29px
}

.toland form {
    padding: 5px 20px
}

.toland span {
    color: red;
    font-size: 30px;
    font-weight: 800;
    display: block
}

.toland strong {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 800
}

.buynow li span {
    background: #55b227;
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    bottom: 2px
}

.buynow .delivery {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    display: block;
    color: green;
    margin-bottom: 20px
}

blockquote {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 20px;
    font-style: italic;
    text-align: center
}

blockquote:before {
    font-family: FontAwesome;
    content: "\f10e";
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    top: -6px
}

blockquote:after {
    font-family: FontAwesome;
    content: "\f10d";
    font-size: 10px;
    margin-left: 3px;
    position: relative;
    top: 2px
}

.story p {
    font-size: 15px;
    text-align: left;
    line-height: 21px
}

html {
    padding: 0;
    margin: 0
}

footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 10px 0
}

footer a {
    color: #fff
}

.socialicons a {
    color: #fff !important;
    margin: 0 3px
}

.story .content_img-title {
    font-size: 20px;
    text-align: center;
    font-weight: 900
}

.footer-logo {
    width: 228px;
    margin-bottom: 10px
}

.content_autor {
    border-right: 2px solid #eee;
    padding-right: 12px;
    color: #f10d14;
    margin-right: 12px;
    font-weight: 700;
    text-align: center;
    float: left;
    user-select: none
}

.content_autor {
    font-weight: 800;
    text-decoration: none;
    width: auto
}

.content_autor .ava {
    margin: 0 auto;
    border-radius: 50%;
    max-width: 60px;
    display: block !important
}

.fa-facebook {
    color: #3b5999
}

.fa-twitter {
    color: #1da1f3
}

.fa-instagram {
    color: #262626
}

.login_block-social_link {
    font-size: 1rem;
    margin-top: 6px;
    margin-right: 5px
}

.paypal-link {
    margin: 20px 5% 0 5%;
    padding: 8px;
    line-height: 1;
    color: #111;
    background: #ffc439;
    text-decoration: none;
    font-size: 27px;
    display: block;
    border-radius: 35px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
    letter-spacing: 0;
    display: none
}

.paypal-link img {
    width: auto;
    vertical-align: middle
}

.facebook-like {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff !important;
    border-radius: 3px;
    padding: 0 4px;
    line-height: 1;
    height: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block
}

.facebook-like svg {
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.facebook-like .text {
    font-family: inherit;
    font-size: 11px
}

.fil6 {
    fill: none
}

.fil0 {
    fill: #fefefe
}

.fil8 {
    fill: #6383c1;
    fill-rule: nonzero
}

.fil7 {
    fill: url("#id1")
}

.fil4 {
    fill: #fcdc6b
}

.fil1 {
    fill: #6a99d0
}

.fil5 {
    fill: #201e1e
}

.fil2 {
    fill: #f50953
}

.fil3 {
    fill: #fefefe;
    fill-rule: nonzero
}

.fb-shit {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 15px
}

.fb-shit .fb-like-click {
    border: 1px solid #d0d0d0;
    padding: 4px 10px;
    padding-left: 2px;
    border-radius: 0;
    flex: 2 1 auto
}

.fb-shit .fb-like-click + .fb-like-click {
    margin-left: 10px
}

.fb-shit svg {
    height: 32px;
    width: 32px;
    vertical-align: middle
}

.img-comment {
    display: block;
    width: 100%;
    margin-top: 5px;
    border: 2px solid #fd0101;
    border-radius: 10px;
    padding: 8px;
    font-style: italic;
    box-sizing: border-box
}

.img-comment .star {
    color: red;
    font-weight: 600;
    font-style: normal
}

.commentarios {
    padding: 5px 10px;
    line-height: 1;
    font-size: 11px;
    color: #fff;
    background: #2361ae;
    font-family: Tamoha, sans-serif
}

.otros-commentarios a {
    color: #333;
    text-decoration: none !important;
    font-weight: 700
}

.otros-commentarios {
    margin: 20px;
    display: block;
    border-radius: 10px;
    padding: 10px;
    background: #f2f2f2;
    color: #000;
    text-decoration: none !important;
    text-align: center
}

.comenti {
    margin-bottom: 30px
}

.coma {
    display: flex;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0 10px;
    margin-top: 10px
}

.coma + .coma {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px
}

.coma .col-avatar {
    flex: 0 0;
    margin-right: 10px
}

.coma .col-avatar img {
    width: 50px
}

.coma .col-comm-text {
    flex: 1 1 auto
}

.coma .nickname {
    margin: 0
}

.coma .nickname a {
    color: #3b5998;
    text-decoration: none;
    font-weight: bold
}

.coma .comment {
    padding-top: 5px;
    margin: 0 28px 5px 0
}

.coma .comimg {
    display: block;
    margin: 10px 0;
    width: 70%
}

.coma .respond {
    text-decoration: none;
    color: #3b5998
}

.coma .date {
    border-bottom: 1px dotted gray;
    color: gray
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    justify-content: center;
    z-index: 1000;
    overflow: auto
}

.popup.shown {
    display: flex
}

.popup .buynow {
    margin: auto;
    width: 310px;
    padding: 10px;
    background: #fff;
    border: 4px solid #f11;
    text-align: center;
    border-radius: 6px
}

.popup .buynow h2 {
    margin: 0;
    color: #f11;
    font-size: 31px
}

.popup .buynow img {
    margin: 16px 0
}

.popup #close-popup {
    color: #fff;
    font-size: 64px;
    position: absolute;
    z-index: 50000;
    right: 10px;
    top: 10px;
    line-height: 1;
    text-decoration: none
}

.notobene {
    border-left: 5px solid #ed1b24;
    padding: 10px;
    font-size: 20px !important;
    line-height: 25px !important;
    background: #fde7e8
}

.best-form {
    font: 16px/1.2 "Open Sans", sans-serif;
    padding: 1rem;
    padding-bottom: 40px;
    color: #fff;
    background-color: #fa0;
    background-image: url("62de4e9c2eb3701760f4cfabbfef5edf717d4abc.svg");
    background-size: cover
}

.product {
    display: flex;
    justify-content: center;
}
.product img{
    width: 200px;
}
.product .discount {
    background-image: linear-gradient(to right, #ff0, #ffeb3b);
    color: red;
    border-radius: 10px;
    transform: skew(-15deg);
    font-size: 3.5rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    width: 85%;
    height: 5rem;
    line-height: 5rem;
    letter-spacing: -3px;
    margin-top: -.3rem
}

.product .discount div {
    transform: skew(15deg)
}

.product .price {
    color: #ed1b24;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -6px;
    line-height: 1
}

.product .discount-text {
    margin-top: 1rem;
    color: #000;
    font-size: 18px
}

.product .price span {
    font-weight: 300;
    font-size: 50%;
    margin-left: 5px
}

.product .price-old {
    line-height: 1
}

.product .price-old span {
    display: inline-block;
    padding: 0 1rem;
    font-size: 3rem;
    color: #000;
    position: relative
}

.product .price-old span:before {
    position: absolute;
    content: "";
    left: 0;
    top: 45%;
    right: 0;
    border-top: 5px solid #ed1b24;
    transform: rotate(-10deg)
}

.country-input, .name-input, .phone-input {
    color: #000;
    background: #fff;
    border: 0;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    transition: all .15s ease-in-out
}

.name-input input, .phone-input input {
    flex: 1 1 auto;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    min-width: 0;
    padding: 10px 15px;
    padding-left: 0;
    border-radius: 6px
}

.button-submit:focus, .name-input:focus-within, .phone-input:focus-within {
    outline: 0;
    box-shadow: 0 0 0 4px #bdab3c
}

.name-input:focus-within input, .phone-input:focus-within input {
    outline: 0
}

.name-input .country {
    border-radius: 3px;
    vertical-align: -2px
}

.name-input label, .phone-input label {
    align-self: center;
    padding-left: 15px;
    width: 45px;
    font-weight: bold
}

.button-submit {
    display: flex;
    box-sizing: border-box !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    border-radius: 6px;
    border: 0;
    padding: 14px 0;
    background-image: linear-gradient(to top, #137c09, #16ac0c);
    transition: all .15s ease-in-out;
    cursor: pointer
}

.button-submit-text {
    flex: 1 1 auto
}

.button-submit-arrow {
    width: 0;
    height: 0;
    border-top: .6rem solid transparent;
    border-bottom: .6rem solid transparent;
    border-left: 1rem solid #fff;
    margin-right: 1rem
}

.form-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
    margin-top: 0
}

::placeholder {
    color: #000;
    opacity: 1;
    border-bottom: 1px dashed #aaa
}

.countdown-block {
    text-align: center;
    background: #ed1b24;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 15px
}

.countdown-block > h3 {
    font-weight: 800;
    font-size: 36px;
    padding-top: 5px;
    margin: 0
}

.best-form > .wrap {
    max-width: 320px;
    margin: 0 auto
}

.countdown-container {
    max-width: 340px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px
}

.countdown-container h3 {
    color: #fffd07;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 39px;
    line-height: 1
}

.countdown-item {
    color: #fff;
    width: 5rem;
    font-weight: 800
}

.countdown-divider {
    color: #fff;
    width: 1rem
}

.countdown-text {
    margin: 0 auto;
    margin-bottom: -8px;
    background: #ed1b24;
    width: 90%;
    color: #fffd07;
    font-size: .8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase
}

.countdown-text span {
    width: 4rem;
    margin-right: 2rem
}

.countdown-text span:last-child {
    margin-right: 0
}

.flip-clock-label {
    display: none;
}

.flip-clock-wrapper ul li a div div.inn {
    color: #fff;
    background-color: #ed1b24;
    text-shadow: unset;
    border-radius: unset;
}

.best-form {
    padding: 8px;
}

.flip-clock-wrapper .flip {
    box-shadow: unset!important;
}

.flip-clock-dot {
    background: #fff;
}

.flip-clock-wrapper ul {
    background: #ed1b24;
    font-weight: 800;
}

.flip-clock-dot {
    width: 6px;
    height: 6px;
}

.flip-clock-divider {
    height: 80px;
    bottom: 7px;
}

.flip-clock-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.flip-clock-wrapper ul {
    margin: 5px -1px;
}

.flip-clock-dot.top {
    top: 32px;
}

.name-input, .phone-input {
    cursor: pointer;
}

.button-submit-text {
    padding-left: 26px;
}

@media screen and (max-width: 480px) {
    .img-circle {
        display: block!important;
    }
    .price {
    font-size: 5rem!important;
}

.price-old span {
    font-size: 2rem!important;
}
.priceForLandingInfoApi, .discount-text, .oldPriceAndLabelForLandingInfoApi {
    margin-left: 15px!important;
        
}
.product .right {
   margin-top: 25px!important; 
}
}

@media screen and (max-width: 360px) {
  .price {
    font-size: 4rem!important;
}

.price-old span {
    font-size: 1.5rem!important;
}  
}

.priceForLandingInfoApi, .discount-text, .oldPriceAndLabelForLandingInfoApi {
    margin-left: 30px;   
}

.product .right {
   margin-top: 25px!important; 
} .form_wrapper input {max-width:80%;}